/**
 * Dialog Component Style for tingle
 * @author minjie
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tDialog
  padding-top 13px
  background rgba(238, 238, 238, 0.9)
  border-radius 5px

.tDialogTitle
  color #424242
  font-size 16px
  font-weight bold
  padding-bottom 13px
  padding-top 7px

.tDialogContent
  padding 0 15px 13px
  line-height 22px
  font-size 12px
  margin 0 auto
  color #757575

.tDialogOperation
  border-top 1px solid #d2d2d2
  height 50px
  font-size 16px
  line-height 50px
  .tDialogButton
    border-left 1px solid #d2d2d2
    &.hover
      background rgba(238, 238, 238, 0.9)

    &:first-child
      border-left 0

.tDialogBRBL5
  border-bottom-left-radius 5px

.tDialogBRBR5
  border-bottom-right-radius 5px

.tDialogPrimary
  color #fb8c00

.tDialogSecondary
  color #757575

.hairline
  .tDialogOperation
    > div
      border-top-width .5px
      border-bottom-width .5px